@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0px;
    padding: 0px;

}

body{
    font-family: 'Playfair Display', 'sans-serif';
}
 
header{
    background-color: black;
    width: 1048px;
    height: 185px;
    margin:auto;
}

#logo{
    background:linear-gradient(rgb(45, 52, 61), gray, slategray);
    width: 250px;
    height:170px;
    float: left;
    margin-top: 15px;
    position: absolute;
}

#logo img{
    width: 190px;
    height: 170px;
}

#login{
    background-color: none;
    width: 220px;
    height:160px;
    float:right;
    text-align: center;
    color: snow;
}
#login input{
    margin-top: 30px;    
}

#login button{
    background-color: #0045a8;
    color: #FFFFFF;
    margin-top: 20px;
    padding: 8px;
    border: 0;
    border-radius: 8px;
}
/*-------- Criação do menu  */
.menu{
    background: rgb(51, 33, 33);
    width: 1048px;
    height: 50px;
    margin: 0 auto;
}

#menu_ul {
    padding-top: 10px;
    padding-left: 10px;
}

.menu ul li{
    display: inline;
    padding:3px;
}
.menu a{
    text-decoration: none;
    color: snow;
}

.menu a:hover{
    background: rgb(73, 73, 219);
    padding: 10px;
    transition: .5s;
    border-bottom: 4px solid turquoise;
    border-radius: 8px;
}

/* =============== Fim do menu =======================*/

/* =============== Slides de Fotos =======================*/
.galeria{
    margin: auto;
    width: 1048px;
    height: 400px;
    overflow: hidden;
    position: relative;
    background:black;
}

.foto{
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.foto:nth-child(1){
}

.foto:nth-child(2){
    animation-delay: 5s;
}

.foto:nth-child(3){
    animation-delay:15s;
}

.foto:nth-child(4){
    animation-delay: 29s;
}

img{
    max-width: 1048px;
}

@keyframes animacao{
    25%{
        opacity: 1;
        transform: scale(1.1, 1.1);
    }
    50%{
        opacity: 1;
    }
}
/* =============== Final de Fotos =======================*/

#banner{
    background-color: blue;
    width: 1048px;
    height: 400px;
    margin: 0 auto;   
}

#banner h1{
    text-align: center;
    color: #FFFFFF;
    padding-top: 10px;
}

#container{
    margin: 0 auto;
    background-color: deepskyblue;
    width: 1048px;
    height: 500px;
    
}

/* ========== CONTEUDO ================*/
.layer{
    background-color: red;
    display: inline-block;
    width: 290px;
    height: 500px;
    margin: 20px;
    margin-top: 0px;
    padding-left: 15px;
}

.layer h2{
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.layer p{
    padding-top: 50px;
    color: white;
    text-align: justify;
}

.layer img{ 
    width: 290px;  
    color: white;   
}
/* =============== Final do Conteudo =======================*/

#depoimento{
    margin: 0 auto;
    background-color: black;
    width: 1048px;
    height: 440px;
    padding-top: 10px;
    text-align: center;
}
#depoimento h1{
    color:#FFFFFF;
}
.dp1{
    background-color: red;
    width: 355px;
    height: 350px;  
    float: left; 
    text-align: justify;
    border: 2px solid grey;
    padding: 20px;
    border-radius: 10px;
    font-style: italic;
    margin-left: 50px;
}
.dp2{
    background-color: red;
    width: 355px;
    height: 350px;  
    float: right; 
    text-align: justify;
    border: 2px solid grey;
    padding: 20px;
    border-radius: 10px;
    font-style: italic;  
    margin-right: 50px;
}
.dp1 img{
    margin-left: 10vh;
    width: 100px;
    height: 150px;
    padding-top: 10px;
}
.dp2 img{
    margin-left: 8vh;
    width: 200px;
    height: 150px;
    padding-top: 10px;
}

.resocial{
    margin: 0 auto;
    background-color:pink;
    width: 1048px ;
    height: 50px;
    padding-top: 10px;
    text-align: center;
}

.resocial img{
    display: inline-block;
    margin-top: 0px  ;
    width: 40px;
    margin-left: 10px;
    border-radius: 10px;
}

footer{
    color: dodgerblue;
    margin: 0 auto;
    background-color: black;
    width: 1048px ;
    height: 50px;
    padding-top: 10px;
    text-align: center;
}


terminei a aula em 1h:28m:45s