main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

fieldset{
    margin-left: 10px;
    border: 1px solid black;
}

.grupo label{
    display: block;
    font-size: 20px;
    color: rgb(74, 74, 201);
    margin-bottom: 7px;
}
.grupo input{
    display: block;
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px;
    margin-bottom: 10px;
    width: 300px;
}

#botao{
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid #8080ff;
    margin-left: 10px;
    padding: 10px;
}

#botao:hover{
    color: #2f34fd;
    border-bottom: 1px solid black;
    transition: .5s;
}
