main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}
/*============= Inivio do Nomes ===================*/
fieldset{
  
    border: none;
}

.grupo label{
    display: block;
    font-size: 20px;
    color: rgb(74, 74, 201);
    margin-bottom: 7px;
}
.grupo input{
    display: block;
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px;
    margin-bottom: 10px;
    width: 300px;
}

.msg{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*============= Fim dos nomes ===================*/

/*============= contato ===================*/

.contato legend{
    font-size: 20px;
    display: block;
    font-weight: bold;
}
.contato label{
    display: block;
    color: black;
}

.horario{
    margin-top: 15px;
}

#novidade{
    margin-top: 20px;
}

/*============= Fim do contato ===================*/

/*============= Botão ===================*/

#botao{
    width: 150px;
    margin: 1px 0px 10px 0px;
    border-radius: 5px;
    border: 1px solid #8080ff;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: .5s;
    margin-top: 20px;
}

#botao:hover{
    color: #2f34fd;
    border-bottom: 1px solid black;
    transform: scale(1.1);
}
/*============= Botão ===================*/


/*============= Table de horario ===================*/

table{
    margin: 20px 0 40px;
}

thead{
    background: #500000;
    color:#FFFFFF;
    font-weight: bold;
}

.t{
    border: 1px solid red;
    padding: 8px 15px;
}

td{
    border: 1px solid #000000;
    padding: 5px 10px;
}

/*============= Final da Table ===================*/

