

*{
    margin: 0px;
    padding: 0px;
    
}

header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;

}

/*=========== menu ================*/

nav{
    position: absolute;
    top:110px;
    right: 0px;
}


nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    transition: .5s;
}

nav a:hover{
    color: #FFFFFF;
    background: dodgerblue;
    padding: 3px;
    border-radius: 8px;
    border-bottom: 3px solid forestgreen;
}

/*=========== menu ================*/

/*=========== Main ================*/
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    margin: 0 1.5%;
    vertical-align: top;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #CCAAFF;
    border-radius: 8px;
}

.produtos h2{
    font-size: 30px;
    font-weight:bolder;
}

.desc{
    font-size: 18px;
}

.preco{
    font-size: 22px;
    font-weight: bold;
    padding-top: 15px;
}

.produtos li:hover{
    border-color: darkblue;
}

.produtos li:active{
    border-color: red;
}


.produtos li:hover h2{
    font-size: 35px;
}

/*=========== FIm da Main ================*/

/*=========== Footer ================*/
footer{
    text-align: center;
    background-image: url("../imagens/bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: #FFFFFF;
    font-size: 23px;
    margin-top: 20px;
}
/*=========== FIm do Footer ================*/