body{
	background-color: #061940;
	background: linear-gradient(#061940,#d41e1e);
}


.img_banner{

	text-align: center;
}

#banner {
	width: 940px;
	height: 450px;
}

/*=========== Main ================*/
.principal{
	background: #CCCCCC;
	width: 940px;
	text-align: justify;
	margin: 0 auto;
}

.h{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 10px;
}

.principal p {
	text-align: center;
	font-size: 19px;
}

#missao {
	font-size: 20px
}


#strong1 {
	color: #FF0000;
}

/*=========== Fim de Main ================*/

/*=========== Inicio Maps ================*/

#maps{
	margin: 0 auto;
	text-align: center;
	background-color:;
	margin-bottom: 5px;
}

.backg_maps{
	background-color;
	width: 940px;
	margin: 0 auto;
}

#maps p {
	margin:1em 2em;
	color: #FFFFAA;
	font-size: 25px;
}

/*=========== Fim Maps ================*/

/*=========== Beneficios ================*/

.backg_bene{
	background-color:;
}

.beneficios{
	width: 940px;
	height: 400px;
	background: red;
	padding: 20px;
	margin: 0 auto;
	background-image: url(../imagens/beneficios.jpg);
	background-repeat:no-repeat;
	margin-bottom: ;
}

.beneficios h3{
	font-size: 30px;
	color: #FFFFAA;
	text-align: center;
	margin-bottom: 50px;
	
}

.ul_list{
	background: red;
	padding-top: 20px;
	display: inline-block;
	vertical-align: top;
	width: 23%;
	margin-right: 15%;
	background: none;
}
.list{
	margin-top: 10px;
	color: #FFFFAA;
	font-size: 18px;
	font-style: italic;
	line-height: 1.5;
}

.list:first-child {
    font-weight: bold;
	font-size: 20px;
	text-decoration: underline;
}

.list:first-child{
	font-weight: bold;
}
/*=========== Fim de Beneficios ================*/

















