body {
	background: #CCCCCC;
	background-color: #061940;
		
}

#banner{
    display: block;
    width: 1048px; 
    margin: 0 auto;
}

.principal{
	width: 1048px;
	margin: 0 auto;
	background: #CCCCCC;
	padding-top: 30px;
	padding-bottom: 10px;
}

.h{
	text-align: center;
}

.principal p{
	text-align: center;
}

#missao p{
	font-size: 20px
}

#strong1 {
	color: #FF0000;
}

.list{
	font-style: italic;
}

.beneficios{
	width: 1048px;
	height: 400px;
	margin: 0 auto;
	background: #FFFFFF;
	padding-top: 5px;
	background-image: url("../imagens/beneficios.jpg");
}

#h3{
	font-size: 30px;
	margin-top: 20px;
	margin-left: 10px;
	text-align: left;
}

.cliente {
	vertical-align: top;
	width: 20%;
	background:none;
	margin-top: 20px;
}
.list{
	color: #FFFFFF;
	list-style: none;
	vertical-align: left;
	padding: 10px;
}

#imagem_ben{
	padding-top: 30px;
	display: block;
    width: 940px; 
	height:400px;
    margin: 0 auto;
}












